
<h1 class="title">Post Somthing</h1>


<form class="form" [formGroup]="postForm" (ngSubmit)="shareIt()">

    <label for="username" >Username: </label>
    <input type="text" id="username" [formControl]="postForm.controls.username" /><br />
  
    <label for="datetime-local" >Date: </label>
    <input type="datetime-local" id="datetime-local" [formControl]="postForm.controls.date" /><br />
    <textarea
      placeholder="what's happening?"
      [formControl]="postForm.controls.message" cols="50" rows="20"
    ></textarea>
    <input type="file" id="lname" name="lname" /><br />
  
    <button class="button" type="submit" value="Share" >Share</button>
  </form>